* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: url(../img/wheat.jpg) no-repeat;
  background-size: contain;
}

.wrapper,
#trading,
#news,
footer {
  background-color: #FBF9FA;
}

.menu,
.menu li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu li a {
  margin: auto;
  font-size: 1.6em;
  color: #000;
  text-decoration: none;
}

main {
  margin-top: 100px;
  text-align: center;
}

main {
  padding: 0 20px 55px 20px;
}

main p {
  font-weight: 100;
  font-size: 1.6em;
}

main p span {
  font-weight: 400;
  color: #e2ba7b;
}

main button {
  cursor: pointer;
  margin-top: 45px;
  padding: 15px 35px;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
  border-left: 2px solid #65aa44;
  border-right: 2px solid #65aa44;
}

section {
  padding: 10px 10px 40px 40px;
}

section>h2 {
  padding: 0 0 10px 10px;
  line-height: 34px;
  font-weight: 400;
  font-size: 1.6em;
  border-left: 12px solid #65aa44;
  border-bottom: 2px solid #65aa44;
}

section p,
article p,
#vacancy ul li,
.address p {
  font-weight: 100;
  font-size: 1.3em;
}

section p {
  margin: 15px 0;
}

article h2 {
  font-weight: bold;
  font-size: 1.7em;
  color: #65aa44;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.services div {
  display: flex;
  width: 100%;
  margin-bottom: 14px;
}

.services h3 {
  font-size: 1.3em;
  margin: auto 10%;
}

.services img {
  display: block;
  width: 50px;
  height: auto;
}

table th,
table tr,
table td {
  border: 2px solid #e2ba7b;
  padding: 10px;
}

table td {
  text-align: center;
  font-weight: 100;
  font-size: 1em;
}

table th {
  font-size: 1.2em;
}

#vacancy {
  padding-bottom: 20px;
}

#vacancy ul {
  list-style: none;
}

#vacancy ul li::before {
  content: "\2022";
  color: #e2ba7b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#vacancy ul li {
  margin-left: 30px;
}

.card {
  display: flex;
  margin-top: 20px;
  background-color: #FBF9FA;
  box-shadow: 0px 0px 20px 7px #D3D3D3
}

.card-text {
  padding: 10px 0 10px 15px;
}

.card-text p {
  margin: 0;
}

.card img {
  width: 115px;
  height: 115px;
  margin: auto 10px;
}

.card-text em {
  font-weight: 400;
  color: #808080;
}

footer {
  padding: 0px 35px;
}

footer>h2 {
  font-size: 1.4em;
  font-weight: 1000;
}

footer img {
  width: 40px;
  margin-left: 15px;
}

.contacts-block {
  display: flex;
  margin-top: 7px;
}

@media screen and (max-width:768px) {
  body {
    width: 753px;
  }

  .menu li {
    width: 33.333%;
    height: 76px;
  }

  .services div {
    width: 100%;
  }

  #vacancy ul li {
    margin-left: 50px;
  }

  #purchase {
    display: none;
  }

  .contacts-block h2 {
    width: 35%;
  }
}

@media screen and (min-width:769px) and (max-width:991px) {
  body {
    width: 976px;
  }

  .wrapper header {
    padding-top: 25px;
  }

  .menu {
    justify-content: end;
  }

  .menu li {
    width: 116px;
  }

  .menu li a {
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
  }

  main p {
    padding-left: 380px;
    text-align: left;
    font-size: 2em;
  }

  section>h2 {
    line-height: 36px;
    font-weight: 400;
    font-size: 2.4em;
  }

  .articles {
    display: flex;
    justify-content: space-between;
  }

  article p,
  .address p {
    font-weight: 100;
    font-size: 1.1em;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
  }

  .services div {
    width: 50%;
  }

  article {
    width: 31%;
  }

  .services img {
    width: 45px;
    height: 45px;
  }

  #purchase {
    display: block;
  }

  #vacancy ul li {
    font-weight: 100;
    font-size: 1.2em;
  }

  .card img {
    height: 150px;
    width: 150px;
    margin: 10px;
  }

  .card-text h3+p {
    margin-bottom: 35px;
  }

  footer img {
    width: 20px;
    margin-left: 4px;
  }

  .contacts-block h2 {
    width: 40%;
  }
}

@media screen and (min-width:992px) and (max-width:1299px) {
  body {
    width: 99vw;
  }

  .wrapper header {
    width: 100%;
    padding-top: 20px;
  }

  .menu {
    width: 100%;
    justify-content: end;
  }

  .menu li {
    width: 13%;
  }

  .menu li a {
    margin: 0 auto;
    text-align: center;
    font-size: 1.7em;
  }

  main {
    padding-left: 40%;
    text-align: left;
    padding-bottom: 170px;
  }

  .contacts-block h2 {
    width: 40%;
  }

}

@media screen and (min-width:1300px) {
  body {
    width: 99vw;
  }

  .wrapper header {
    width: 100%;
    padding-top: 20px;
  }

  .menu {
    width: 100%;
    justify-content: end;
  }

  .menu li {
    width: 13%;
  }

  .menu li a {
    margin: 0 auto;
    text-align: center;
    font-size: 1.7em;
  }

  main {
    padding-left: 40%;
    text-align: left;
    padding-bottom: 170px;
  }

  main p {
    font-size: 3.2em;
  }

  main button {
    margin-top: 50px;
    padding: 20px 100px;
  }

  section {
    padding: 10px 100px 80px 100px;
  }

  section>h2 {
    line-height: 45px;
    font-weight: 500;
    font-size: 2.6em;
    border-left: 14px solid #65aa44;
  }

  .articles {
    display: flex;
    justify-content: space-between;
  }

  article h2 {
    font-weight: bolder;
    font-size: 2.1em;
  }

  article p,
  .address p {
    font-weight: 100;
    font-size: 1.4em;
  }

  .services div {
    width: 20%;
  }

  article {
    width: 31%;
  }

  .services img {
    width: 45px;
    height: 45px;
  }

  #purchase {
    display: block;
  }

  table {
    width: 100%;
  }

  #vacancy ul li {
    font-weight: 100;
    font-size: 1.2em;
  }

  .cards {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 32%;
  }

  .card img {
    height: 180px;
    width: 150px;
    margin: 10px;
  }

  .card-text p+p {
    font-size: 1.2em;
  }

  footer img {
    width: 20px;
    margin-left: 4px;
  }


  #contacts {
    display: flex;
    justify-content: space-around;
  }

  .first-contacts-block {
    display: block;
  }

  .contacts-icons img {
    display: block;
    width: 40px;
    margin-top: 40px;
  }

  .contacts-block h2 {
    width: 40%;
  }


}